#
# For a description of the syntax of this configuration file,
# see tools/kconfiglib/kconfig-language.txt.
#


mainmenu "Phytium Baremetal Configuration"

	menu "Project Configuration"

		menu " Baremetal Configuration"
		config TARGET_NAME
			string "Build Target Name"
			default "opeanamp_core1"
			help
				Build Target name for the demo
	
	endmenu

	
	menu "Amp Config"
		config IPI_IRQ_NUM
			int "Communication interruption number between multiple cores"
			default 0
		
		config IPI_IRQ_NUM_PRIORITY
			int "Priority of internuclear communication interruption"
			default 16
		
		config SPIN_MEM
			hex "Spin-lock shared memory"
			default 0x80000000

		config IPI_CHN_BITMASK
			int "Destination IPI mask"
			default 2
			help
				Each bit represents a CPU, for example, 0x3 represents CPU 0 and CPU 3 in the code.

		if TARGET_D2000
			choice OPENAMP_WORK_MODE
				prompt "Select work mode"
				default WITH_BAREMETAL
				config WITH_BAREMETAL
					bool "Test for baremetal" 
			endchoice # BUILD_TARGET_ARCH_TYPE
		endif

	endmenu
	
endmenu



source "$(SDK_DIR)/standalone.kconfig"

